<!-- Main content -->
<div class="sidenav-content">
    <div class="card">
        <hr style="color: aquamarine;">
        <table>
            <td>
                <h3 class="all">All Tasks</h3>
            </td>
            <td>
                <div class="test"></div>
            </td>

        </table>
        <table>
            <tr>
                <th>
                    <mat-checkbox color="primary"></mat-checkbox>
                </th>
                <th class="tabletext">Make a Wireframe</th>
                <th>
                    <mat-slider min="1" max="5" value="4"></mat-slider>
                </th>
                <th class="tabletext"><i class="fa fa-circle"
                        style="margin-right: 10px;color: hotpink;font-size: 10px;"></i>High Priority</th>
                <th>
                    <mat-icon matBadge="3" matBadgeColor="warn" matBadgeSize="small" class="custom-badge">
                        message</mat-icon>
                </th>
                <th><button class="button">In Progress</button></th>
            </tr>
            <br><br>
            <tr>
                <th>
                    <mat-checkbox color="primary"></mat-checkbox>
                </th>
                <th class="tabletext">Video Apps Redesign</th>
                <th>
                    <mat-slider min="1" max="5" value="5"></mat-slider>
                </th>
                <th class="tabletext"><i class="fa fa-circle"
                        style="margin-right: 10px;color: orange;font-size: 10px;"></i>Medium Priority</th>
                <th>
                    <mat-icon matBadge="3" matBadgeSize="small" class="custom-badge">message</mat-icon>
                </th>
                <th><button class="button">In Progress</button></th>
            </tr>
            <br><br>
            <tr>
                <th>
                    <mat-checkbox color="primary"></mat-checkbox>
                </th>
                <th class="tabletext">Website design</th>
                <th>
                    <mat-slider min="1" max="5" value="3.6"></mat-slider>
                </th>
                <th class="tabletext"><i class="fa fa-circle"
                        style="margin-right: 10px;color: gold;font-size: 10px;"></i>Low Priority</th>
                <th>
                    <mat-icon matBadge="9" class="hide-text" matBadgeSize="small"> message</mat-icon>
                </th>
                <th><button class="button">In Progress</button></th>
            </tr>
            <br><br>
            <tr>
                <th>
                    <mat-checkbox color="primary"></mat-checkbox>
                </th>
                <th class="tabletext">Meeting CEO</th>
                <th>
                    <mat-slider min="1" max="5" value="3.2"></mat-slider>
                </th>
                <th class="tabletext"><i class="fa fa-circle"
                        style="margin-right: 10px;color: hotpink;font-size: 10px;"></i>High Priority</th>
                <th>
                    <mat-icon matBadge="3" matBadgeSize="small" class="custom-badge">message</mat-icon>
                </th>
                <th><button class="button">In Progress</button></th>
            </tr>
            <br><br>
            <tr>
                <th>
                    <mat-checkbox color="primary"></mat-checkbox>
                </th>
                <th class="tabletext">Need to make a Wireframe</th>
                <th>
                    <mat-slider min="1" max="5" value="2"></mat-slider>
                </th>
                <th class="tabletext"><i class="fa fa-circle"
                        style="margin-right: 10px;color: orange;font-size: 10px;"></i>Medium Priority</th>
                <th>
                    <mat-icon matBadge="3" matBadgeColor="warn" matBadgeSize="small" class="custom-badge">
                        message</mat-icon>
                </th>
                <th><button class="button">In Progress</button></th>
            </tr>
            <br><br>
            <tr>
                <th>
                    <mat-checkbox color="primary"></mat-checkbox>
                </th>
                <th class="tabletext">iOS apps design</th>
                <th>
                    <mat-slider min="1" max="5" value="1.5"></mat-slider>
                </th>
                <th class="tabletext"><i class="fa fa-circle"
                        style="margin-right: 10px;color: hotpink;font-size: 10px;"></i>Low Priority</th>
                <th>
                    <mat-icon matBadge="3" class="hide-text" matBadgeSize="small">message</mat-icon>
                </th>
                <th><button class="button">In Progress</button></th>
            </tr>
            <br><br>
            <tr>
                <th>
                    <mat-checkbox color="primary"></mat-checkbox>
                </th>
                <th class="tabletext">Wireframe Design started</th>
                <th>
                    <mat-slider min="1" max="5" value="4.5"></mat-slider>
                </th>
                <th class="tabletext"><i class="fa fa-circle"
                        style="margin-right: 10px;color: hotpink;font-size: 10px;"></i>High Priority</th>
                <th>
                    <mat-icon matBadge="3" matBadgeColor="warn" matBadgeSize="small" class="custom-badge">
                        message</mat-icon>
                </th>
                <th><button class="button">In Progress</button></th>
            </tr>
            <br><br>
            <tr>
                <th>
                    <mat-checkbox color="primary"></mat-checkbox>
                </th>
                <th class="tabletext">Dashboard Design</th>
                <th>
                    <mat-slider min="1" max="5" value="2.5"></mat-slider>
                </th>
                <th class="tabletext"><i class="fa fa-circle"
                        style="margin-right: 10px;color: gold;font-size: 10px;"></i>Medium Priority</th>
                <th>
                    <mat-icon matBadge="3" class="hide-text" matBadgeSize="small">message</mat-icon>
                </th>
                <th><button class="button">In Progress</button></th>
            </tr>
            <br><br>
            <tr>
                <th>
                    <mat-checkbox color="primary"></mat-checkbox>
                </th>
                <th class="tabletext">iOS Video apps design</th>
                <th>
                    <mat-slider min="1" max="5" value="3.5"></mat-slider>
                </th>
                <th class="tabletext"><i class="fa fa-circle"
                        style="margin-right: 10px;color: hotpink;font-size: 10px;"></i>Low Priority</th>
                <th>
                    <mat-icon matBadge="3" matBadgeSize="small" class="custom-badge">message</mat-icon>
                </th>
                <th><button class="button">In Progress</button></th>
            </tr>
            <br><br>
            <tr>
                <th>
                    <mat-checkbox color="primary"></mat-checkbox>
                </th>
                <th class="tabletext">Make a Wireframe</th>
                <th>
                    <mat-slider min="1" max="5" value="1.5"></mat-slider>
                </th>
                <th class="tabletext"><i class="fa fa-circle"
                        style="margin-right: 10px;color: hotpink;font-size: 10px;"></i>High Priority</th>
                <th>
                    <mat-icon matBadge="3" class="hide-text" matBadgeSize="small">message</mat-icon>
                </th>
                <th><button class="button">In Progress</button></th>
            </tr>
            <br><br>
            <tr>
                <th>
                    <mat-checkbox color="primary"></mat-checkbox>
                </th>
                <th class="tabletext">Make a Wireframe</th>
                <th>
                    <mat-slider min="1" max="5" value="3.5" invert></mat-slider>
                </th>
                <th class="tabletext"><i class="fa fa-circle"
                        style="margin-right: 10px;color: gold;font-size: 10px;"></i>Medium Priority</th>
                <th>
                    <mat-icon matBadge="3" matBadgeSize="small" class="custom-badge">message</mat-icon>
                </th>
                <th><button class="button">In Progress</button></th>
            </tr>
        </table>
    </div>
    <!-- <router-outlet></router-outlet> -->
</div>